<a href="https://colab.research.google.com/github/danielsierra26/ejercicio_for/blob/main/Ejercicio_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Instruciones Repetitivas

In [ ]:
# EJERCICIO 1: mostrar los números del 1 al 10, sin usar  instruciones repetitivas

print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

In [ ]:
 # EJERCICIO 2: mostrar los numeros del 1 al 10, usando las instruciones e while

contador = 1
print(contador)
while contador <10:
  # contador = contador + 1
  contador += 1
print(contador)

In [ ]:
 #  EJERCICIO 3: mostrar las numeros del 1 al 10, usando instrucion for y una lista como iterable
 lista = [1,2,3,4,5,6,7,8,9,10]
 for i in lista:
   print(i)

In [ ]:
# EJERCICIO 4: mostrar los numeros del 1 al 10, usando la  instrucion for y la funcion range

for i in range(1,11):
  print(i)

In [ ]:
# EJERCICIO 5: mostrar una frase 10 veces, usando la intrucion for y una lista

lista = [1,2,3,4,5,6,7,8,9,10]
for i in lista:
  print(f"{i} Sistemas el mejor!!!")

In [ ]:
# EJERCICIO 6: mostrar la silaba inicial de los dias de la semana, usando for y una lista con la silabas de los dias
días_semana = ["lu","ma","mi","ju","vi","sa","do"]
for i in días_semana:
  print(i)

In [ ]:
# EJECICIO 7: mostrar una lista de distintos tipos de datos, usando for

lista = [1, 3.4, 9, True, "Daniel", 8, "Guanenta"]
for i in lista:
  print(i)

In [ ]:
#EJERCICIO 8: ingresar su nombre y mostrarlo letra a letra, usando for
nombre = input("Digite su nombre: ")
for i in nombre:
  print(letra)

In [ ]:
# EJERCICIO 9: igresar su nombre y mostrarlo letra a letra, usando for, cambiando por asteristicos * a la vocal
nombre = input("Digite su nombre: ")
for letra in nombre: 
  if letra == 'e':
    print("*")
  else:
    print(letra)

In [ ]:
# EJERCICIO 10: ingresar su nombre y mostrarlo letra a letra, en mayuscula, usando for

nombre = input("Digite su nombre: ")
for letra in nombre:
  print(letra.upper())

In [ ]:
from re import A
# EJERCICIO 11: imprimir listas de numeros usando for y range

print("Numeros del 0 al 9")
for i in range(10):
  print(i)

print("Numeros edl 1 al 10")
for i in range(1,11):
  print(i)

print("10 veces la frase")
for i in range(10):
  print("Sistemas el mejor")

print("10 veces la frase i = ")
for i in range(10):
  print("i = " + str(i))

print("10 veces la frase i = ")
for i in range(10):
  print(f" i = {i}")

print("Rango del 7 al 18, incremente de 4 en 4")
for i in range(7,19,4):
  print(i)

print("Convierte rango en lista a, y la mustra")
a = list(range(1000))
print(a)

Ejercicios

  1.Dada la siguinte lista de numeros,[20,21,30,31,50,51,201]mostrar en pantalla solo los que NO terminan en 1.
  2.Mostrar 1000 veces la palabra "Programacion".
  3.Del conjunnto de cadenas["E","F","M","A"]que corresponda a las iniciales de los primeros cuatro meses del año, mostrar el nombre completo de dichos mese.